{{define "bottom"}}
</main>
<footer>
    <ul>
        <li><a href="https://x.com/am_elnaddar">Twitter</a></li>
        <li><a href="https://github.com/elnaddar">GitHub</a></li>
    </ul>
</footer>
</body>
</html>
{{end}}